<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Coming Soon</title>
    <link rel="stylesheet" href="styles.css">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/assets/js/darkMode.js"></script>
    <script src="~/assets/js/pages.js"></script>
    <link href="~/Content/ComingSoonCss.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="message-box dark:border-transparent dark:bg-black-0 dark:text-white-0">
            <h1 class="dark:text-white-0">🚀 Exciting Features Coming Soon!</h1>
            <p class="dark:text-white-0">We are working hard to bring you new and exciting features. This particular feature is not available yet, but stay tuned for updates!</p>
            <p class="dark:text-white-0">Thank you for your patience and continued support.</p>
            <p class="dark:text-white-0">Best regards,</p>
            <p class="dark:text-white-0"><strong>Twitter India.</strong></p>
            <a href="@Url.Action("Index", "Homepage")" class="back-button">Go Back to Home</a>
        </div>
    </div>
</body>
</html>

